*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: rgb(1, 1, 16);
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice:hover{
    cursor: pointer;
    background-color: rgb(1, 1, 16);
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 5rem;
    gap: 6rem;
}
#user-score,#comp-score{
    font-size: 3rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    background-color:rgb(1, 1, 16);
    color: #fff;
    font-size: 2rem;
}